<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/stylelogin.css}">

</head>


<body>

	<section class="form my-4 mx-5">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-5">
				<img class="img-fluid" src="../static/img/1.jpg" width="1000" th:src="@{img/1.jpg}"/>
				</div>
				<div class="col-lg-7 px-5 pt-5">
					<h1 class="font-weight-bold py-3"> Perpusnas</h1>
					<h4>Sign in into your account</h4>
					<form th:action="@{/login}" method="post">
						<!-- error message -->
						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid username or
								password.</div>
						</div>

						<!-- logout message -->
						<div th:if="${param.logout}">
							<div class="alert alert-info">You have been logged out.</div>
						</div>
						<div class="form-row">
							<div class="col-lg-7">
								<input type="text" class="form-control" id="username" name="username"
									placeholder="Enter Email ID" autofocus="autofocus">
							</div>
						</div>
						<div class="form-row">
							<div class="col-lg-7">
								<label for="password">Password</label>: <input type="password" id="password"
									name="password" class="form-control" placeholder="Enter Password" />
							</div>
						</div>
						<div class="form-row">
							<div class="col-lg-7">
								<button type="submit" class="btn1 mt-3 mb-3">login </button>
							</div>
						</div>
						<span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>

</html>